body {
  background-image: url(http://cdn.wallpapersafari.com/2/22/Bvdyrn.jpg);
  /*background-image: url(http://www.webweaver.nu/clipart/img/web/borders/floral/decorative-tan.jpg);*/
  background-size: cover;
  font-size: 20px;
  font-family: 'Love Ya Like A Sister', cursive;
}

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.false {
  background-color: #0fc59b;
  border: solid 1px;
}

.true {
  background-color: #df5b65;
  border: solid 1px;
}

input {
  width: 500px;
  height: 25px;
  font-size: 20px;
}

button {
  width: 100px;
  height: 20px;
  background-color: inherit;
}

div {
  width: 700px;
}

#container, #input {
  margin-left: 250px;
}

#input {
  border: solid 2px;
  border-radius: 5px;
}

#tasks {
  width: 700px;
  border: solid 1px;
  border-radius: 5px
}

#check, #delete {
  float: right;
  margin: 5px;
}

 #taskinput {
  margin: 10px;
  background-color: inherit;
  border: solid 1px;
  width: 400px;
}

#addtask {
  background-color: inherit;
  /*border: solid 1px;*/
  width: 100px;
  height: 30px;
  float: right;
  margin: 10px;
}

p {
  margin: 0;
  height: 35px;
  padding: 5px;
}

span {
  font-size: 20px;
}
